body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style: none;
}
/* ========== Page Header Styles ========== */
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    line-height: 1.17
}
.logo-part {
    color: #2e2f42;
}
.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}
.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}
/* ========== / Page Header Styles ========== */


/* ========================================= Page Main Styles ========================================= */ 

/* ========== Page Hero styles ========== */

.hero-section {
    background-color: #2e2f42; 
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.hero-button {
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
    background: #404bbf;
}
/* ========== /Page Hero styles ========== */

/* ========== Page Section Strategy styles ========== */
.title-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.text-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* ========== /Page Section Strategy styles ========== */


/* ========== Page Section Our team styles ========== */
.section-team {
    background-color: #F4F4FD
}
.section-team-list {
    background-color: #FFFFFF
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}
.name-employee-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.position-employee-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
/* ========== /Page Section Our team styles ========== */


/* ========== Page Section Our portfolio styles ========== */

.title-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}
.services-title-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.services-text-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* ========== /Page Section Our portfolio styles ========== */

/* ========================================= /Page Main Styles ========================================= */ 

/* ========================================= Page Footer Styles ========================================= */ 
.footer {
    background-color: #2e2f42;
}
.logo-part-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}